@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron&display=swap');

#title {
    margin-bottom: 80px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#myWatch {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    background-color: #35732f;
    border: 14px solid #fc5d00;
}


#buttonSpace Button {
    background-color: #fc5d00;
    margin-right: 10px;
}

#buttonSpace Button:active {
    background-color: red;
    border: 2px solid white;
}

#watchSpace {
    align-items: center;
    display: flex;
    width: 20rem;
    height: 20rem;
}

#test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#myTime {
    width: 13rem;
    text-align: start;
    font-size: 34px;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
    color: #15ff00;
}
