#myWatch {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;

}

#buttonSpace Button {
    margin-right: 10px;
}

#watchSpace {
    align-items: center;
    display: flex;
    width: 20rem;
    height: 20rem;
}

#test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#myTime {
    padding-left: 5px;
    width: 13rem;
    text-align: start;
    font-size: 3rem;
    letter-spacing: 2px;
}
